[ req ]
default_bits            = 4096
encrypt_key             = no
default_md              = sha256
utf8                    = yes
string_mask             = utf8only
prompt                  = no
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
countryName         = US
stateOrProvinceName = TX
localityName        = Houston
organizationName    = ACME GROUP
organizationalUnitName = IS Services
commonName          = example.com
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1 = acme.com
DNS.2 = subdomain.acme.com
DNS.3 = another.acme.com
IP.1 = 192.168.0.5
IP.2 = 2001:db8::1
